.scrollable-column {
  max-height: 768px;
  overflow-y: auto;
}

button.show {
  display: none;
  border: 0;
}

div.watchedContainer:hover button.show,
div.favoriteContainer:hover button.show,
div.listContainer:hover button.show {
  display: inline;
}