.rate {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px
}

.buttons {
  top: 36px;
  position: relative
}

.ratingDark, 
.ratingLight {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.ratingDark>input, 
.ratingLight>input {
  display: none
}

.ratingDark>label, 
.ratingLight>label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer
}

.ratingDark>label {
  color: #eb5200;
}

.ratingLight>label {
  color: #eb8900;
}

.ratingDark>label::before, 
.ratingLight>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.ratingDark>label:hover:before, 
.ratingDark>label:hover~label:before {
  opacity: 1 !important
}

.ratingLight>label:hover:before, 
.ratingLight>label:hover~label:before {
  opacity: 1 !important
}

.ratingDark>input:checked~label:before, 
.ratingLight>input:checked~label:before {
  opacity: 1
}

.ratingDark:hover>input:checked~label:before, 
.ratingLight:hover>input:checked~label:before {
  opacity: 0.4
}

.rating-submit {
  border-radius: 8px;
  color: #fff;
  height: auto
}

.rating-submit:hover {
  color: #fff
}