@if (listsService.addToListVisible()) {
  <app-modal>
    <div class="bg-info-subtle bg-gradient p-3 text-info-emphasis">
      @if (lists !== undefined && lists.length > 0) {
        <p>Elige la lista a la que añadir "{{ contentToAdd.Title }}"</p>
        <ul>
          @for (list of lists; track list.listID) {
            <li>
              <span class="clickable" (click)="listClicked(list.listID)">
                <b>{{ list.Name }}</b>
              </span>
            </li>
          }
        </ul>
      }
      @else {
        <div class="d-flex justify-content-between">
          <h5>No tienes ninguna lista creada a la que añadir el contenido.</h5>
        </div>
      }
      <div class="confirmation-actions">
        <button type="button" class="btn btn-primary" (click)="showAddListModal()">
          Crear nueva lista
        </button>
        <button type="button" class="btn btn-secondary ms-1" (click)="closeAddToListModal()">
          Cerrar
        </button>
      </div>
    </div>
  </app-modal>
}