html {
  height: 100%;
  overflow: scroll;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.backgroundLight {
  background: linear-gradient(90deg, rgba(207, 244, 252, 1) 0%, rgba(140, 234, 255, 1) 100%);
}

.backgroundDark {
  background: linear-gradient(90deg, rgba(3, 40, 48, 1) 0%, rgba(9, 89, 110, 1) 100%);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  font-weight: bold;
}