<form class="form-inline" (ngSubmit)="onSubmit()">
  <div class="form-floating mx-2">
    <input type="text" id="searchBar" name="searchBar" class="form-control" placeholder="Introduce un título..." [(ngModel)]="searchTitle"/>
    <label for="searchBar">Introduce un título...</label>
  </div>
  @if (showSortOptions) {
    <div class="form-floating mx-2">
      <input id="searchYear" name="searchYear" class="form-control" placeholder="Introduce año..." [(ngModel)]="searchYear" numbersOnly/>
      <label for="searchYear">Introduce año...</label>
    </div>
    <div class="form-floating mx-2">
      <select id="searchType" name="searchType" class="form-control" placeholder="Tipo de contenido..." [(ngModel)]="searchType">
        <option selected value="none">Selecciona...</option>
        <option value="movie">Películas</option>
        <option value="series">Series</option>
        <option value="episode">Episodios</option>
      </select>
      <label for="searchType">Tipo de contenido</label>
    </div>
  }
  <button type="submit" class="btn btn-info mx-1">
    <img src="./icons/search.svg" alt="Enviar consulta"/>
  </button>
  <button type="button" class="btn btn-info mx-1" (click)="toggleSortOptions()">
    <img src="./icons/menu.svg" alt="Más opciones"/>
  </button>
</form>
  