button {
  width: 3rem;
  height: 3rem;
  padding: 0 !important;
}

svg {
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 576px) {
  button {
    width: 2.5rem;
    height: 2.5rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}